<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/instew.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Instew </h5>
      <li> Python, Django, Sqlite3</li>
      <p>Instew lets you track your feelings on different occasions and times.It can helps you to make a little bit more control over your feelings and thoughts.With the help of Instew. you can care yourself in more appropriate way in the context of your emations and feelings.For example on a specific oscasion you shouldn't be angry but you do unconciously, it will helps you track this feelings and think about it later.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
